.header {width: 100%; text-align:center; display:flex; justify-content: center}

.tab { width: 20%; height: 5%; background: green; color: white; margin: 10px; float:left}

.buttonTabs { width: 100%; height: 100%; background: grey; color: white; float:left; font-size: 25px}

.content {width: 40%; margin-left:auto; margin-right:auto}

#idDialerNumber {width:95%; height:5%; margin:5px}

.phone {width:30%; height:7%; margin:5px; margin-bottom:15px; font-size:25px}

.bottomDialerButtons {width:46.5%; height:7%; margin:5px; font-size:25px}

.contactName {width:31%; height:8%; margin-right:2px; margin-bottom: 20px; font-size:14px; font-weight:bold}

.contactLabel {width:100%}

.contactBox {width:100%; height:5%}

#idAddContactButton {width:45%; height:5%; font-size:15px; margin-top:20px; margin-right:10px;}

#idClearContactButton {width:25%; height:5%; font-size:15px; margin-top:20px; margin-right:10px;}
